body{
    background: url(../img/back.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
}
.main_page{
    width: 80vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5vh 0 1vh 10vw;
    border: #000000 2px solid;
    display: flex;
    flex-direction: column;
}
.content__nav{
    width: auto;
    height: 7.35%;
    background-color: #527CFA;
    opacity: 1 !important;
    border-bottom: #000000 2px solid;
    display: flex;
}
.logo_on_nav{
    margin-top: 1vh;
    margin-left: 0.8vw;
}
.progname_nav{
    margin-left: 0.5vw;
    margin-top: 0.8vh;
    font-size: 2.5vw;
    color: #FFFFFF;
    text-shadow: #000 1px 0 2px;
}
.content__lists{
    display: flex;
    flex-direction: column;
}
.lists__content{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.list{
    background-color: #FFFBEE;
    border: #000 1.5px solid;
    width: 25vw;
    height: 65vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.filters{
    width: 15vw;
    height: 65vh;
}
.content__secondary_list{
    background-color: #FFF8E0;
}
.list h1{
    margin-left: 1vw;
    font-size: 2vw;
}
.filters__top{
    display: flex;
    justify-content: space-between;
}
.menu__button{
    margin-left: -1vw;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.button__image{
    height: 5vh;
    width: 5vw  ;
}
/*List input CSS*/
/* Include the padding and border in an element's total width and height */
* {
    /*box-sizing: border-box;*/
}

/* Remove margins and padding from the list */
ul {
    overflow: auto;
    width: 100%;
    height: 78%;
    margin: 0;
    padding: 0;
}

/* Style the list items */
.secondary_list__myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 1.2vw;
    transition: 0.2s;
    border-top: rgba(0,0,0,0.8) solid 1px;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.secondary_list__myUL li:last-child{
    border-bottom: rgba(0,0,0,0.8) solid 1px;
}

/* Set all odd list items to a different color (zebra-stripes) */
.secondary_list__myUL li:nth-child(odd) {
    background: #FFFBEE;
}

/* Darker background-color on hover */
.secondary_list__myUL li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.secondary_list__myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.secondary_list__myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header__add_task {
    color: white;
    text-align: center;
    display: flex;
}

/* Clear floats after the header */
.header__add_task:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.add_task__input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    height: 20%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.add_task__inputinput::-webkit-input-placeholder {
    font-size: 1vw;
}
/* Style the "Add" button */
.add_task__addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.add_task__addBtn:hover {
    background-color: #bbb;
}